@model StonkMarket.Models.UserStonk

@{
    ViewData["Title"] = "Details";
}

<h4>@Html.DisplayFor(model => model.Stonk.Name)</h4>

<div>
   
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TopPerformer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TopPerformer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfStonks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfStonks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stonk.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stonk.FlutterPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stonk.OneYear)
        </dt>
        @{ var totalOnePrice = Model.Stonk.OneYear * Model.NumberOfStonks; }
        <dd class="col-sm-10">
            <p>
                @Math.Round(totalOnePrice, 2)
            </p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stonk.FiveYear)
        </dt>
        @{ var totalFivePrice = Model.Stonk.FiveYear * Model.NumberOfStonks; }
        <dd class="col-sm-10">
            <p>
                @Math.Round(totalFivePrice, 2)
            </p>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stonk.TenYear)
        </dt>
        @{ var totalTenPrice = Model.Stonk.TenYear * Model.NumberOfStonks; }
        <dd class="col-sm-10">
            <p>
                @Math.Round(totalTenPrice, 2)
            </p>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
