@model IEnumerable<StonkMarket.Models.UserStonk>
   
    @{
        ViewData["Title"] = "Index";
    }

    <h1>Your Stonks</h1>

    <p>
        <a asp-action="Create">Add a Stonk</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stonk.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfStonks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserProfile.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stonk.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stonk.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stonk.OneYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stonk.FiveYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stonk.TenYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TopPerformer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {

                
                
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stonk.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfStonks)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stonk.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stonk.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stonk.OneYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stonk.FiveYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stonk.TenYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TopPerformer)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                
            }
        </tbody>
    </table>
