@model StonkMarket.Models.Stonk

@{
    ViewData["Title"] = "TopDetails";
}

<h4>@Html.DisplayFor(model => model.Name)</h4>

<div>
    <h4>Stonk</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlutterPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlutterPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OneYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OneYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FiveYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FiveYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenYear)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>